.box .element--root * {
  pointer-events: none; }

.element--root {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAAHdElNRQffCh8PKzLYjbDmAAAAHWlUWHRDb21tZW50AAAAAABDcmVhdGVkIHdpdGggR0lNUGQuZQcAAAA9SURBVDhPY/wPBAxEgDNnzkBZ+AETlKYaGDWQcjBqIOWA8fTp00TlFBMTEygLPxiNFMrBqIGUAyobyMAAAObqCoP0uRPJAAAAAElFTkSuQmCC); }

.element__contents {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; }

.element__tools {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: all;
  display: grid;
  grid-template-columns: 5px auto 5px;
  grid-template-rows: 5px auto 5px; }

.element__tool:hover {
  background-color: rgba(0, 255, 0, 0.3); }

.element__tool--top-left, .element__tool--bottom-right {
  cursor: nwse-resize; }

.element__tool--top, .element__tool--bottom {
  cursor: ns-resize; }

.element__tool--top-right, .element__tool--bottom-left {
  cursor: nesw-resize; }

.element__tool--left, .element__tool--right {
  cursor: ew-resize; }

.element.selected-multiple .element__tools {
  grid-template-columns: 0 auto 0;
  grid-template-rows: 0 auto 0; }

.element.selected-multiple .element__tool {
  background-color: rgba(0, 255, 0, 0.3); }

.element.selected .element__tools {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  border: 1px solid rgba(0, 0, 255, 0.5); }
