@import "../../scss-imports/variables";
.box{
    .element{
        &--root{
            *{
                pointer-events: none;
            }
        }
    }
}
.mouse-down{
    .element{
        &:not(.element.selected){
            .element__tools{
                pointer-events: none;
                opacity: 0;
            }
        }
    }
}
.element{
    &--root{}
    &__contents{
        @include absFull;
        pointer-events: none;
    }
    &__tools{
        //@include hidden;
    }
    &__tools{
        @include absFull;
        pointer-events: all;
        display:grid;
        grid-template-columns: 5px auto 5px;
        grid-template-rows: 5px auto 5px;
    }
    &__tool{
        &:hover{
            background-color: rgba(0, 255, 0, 0.3);
        }
        &--top-left,
        &--bottom-right{
            cursor: nwse-resize;
        }
        &--top,
        &--bottom{
            cursor: ns-resize;
        }
        &--top-right,
        &--bottom-left{
            cursor: nesw-resize;
        }
        &--left,
        &--right{
            cursor:ew-resize;
        }
    }
    &.selected{
        &-multiple{
            .element{
                &__tools{
                    grid-template-columns: 0 auto 0;
                    grid-template-rows: 0 auto 0;
                }
                &__tool{
                    background-color: rgba(0, 255, 0, 0.3);
                }
            }
        }
        .element{
            &__tools{
                width: calc(100% - 2px);
                height: calc(100% - 2px);
                border:1px solid rgba(0,0,255,0.5);
            }
        }
    }
}
