@import "../../scss-imports/variables";
.box{
    .element{
        &--root{
            *{
                pointer-events: none;
            }
        }
    }
}
.mouse-down{
    .element{
        &:not(.element.selected){
            .element__tools{
                pointer-events: none;
                opacity: 0;
            }
        }
    }
}
.element{
    // &:hover{
    //     filter:none !important;
    // }
    &--root{}
    &__contents{
        @include absFull;
        pointer-events: none;
    }
    &__tools{
        //@include hidden;
    }
    &__tools{
        @include absFull;
        pointer-events: all;
    }
    &__tool{
        position: absolute;
        width:10px;
        height:10px;
        background-color: #fff;
        border: 1px solid #000;
        box-sizing: border-box;
        z-index:2;
        opacity: 0;

        &--top-left{
            top:-5px;
            left:-5px;
        }
        &--top{
            top:-5px;
            left:calc(50% - 5px);
        }
        &--top-right{
            top:-5px;
            right:-5px;
        }
        &--left{
            top:calc(50% - 5px);
            left:-5px;
        }
        &--center{
            z-index:1;
            background: none;
            border: none;
            width:100%;
            height:100%;
        }
        &--right{
            top:calc(50% - 5px);
            right:-5px;
        }
        &--bottom-left{
            bottom:-5px;
            left:-5px;
        }
        &--bottom{
            bottom:-5px;
            left:calc(50% - 5px);
        }
        &--bottom-right{
            bottom:-5px;
            right:-5px;
        }
        &--top-left,
        &--bottom-right{
            cursor: nwse-resize;
        }
        &--top,
        &--bottom{
            cursor: ns-resize;
        }
        &--top-right,
        &--bottom-left{
            cursor: nesw-resize;
        }
        &--left,
        &--right{
            cursor:ew-resize;
        }

        &:not(.element__tool--center){
            pointer-events: none;
        }
    }
    &.selected{
        &-multiple{
            .element{
                &__tools{
                }
                &__tool{
                    border:2px solid rgba(0,0,255,0.3);
                    &:not(.element__tool--center){
                        opacity:0 !important;
                        pointer-events: none !important;
                    }
                }
            }
        }
        .element{
            &__tools{
                width: 100%;
                height: 100%;
            }
            &__tool{
                opacity: 1;
                pointer-events: all !important;
            }
        }
    }
}
