.element-sidebar {
  font-size: 0.75rem;
  color: #aaa;
  position: relative; }
  .element-sidebar .element-sidebar-easy {
    display: block; }
  .element-sidebar .element-sidebar-geek {
    display: none; }
  .element-sidebar.geek-mode .element-sidebar-easy {
    display: none; }
  .element-sidebar.geek-mode .element-sidebar-geek {
    display: block; }
  .element-sidebar .material-icons {
    font-size: 0.875rem; }
  .element-sidebar h3 {
    margin: 0 0 0.5rem 0;
    font-size: 0.75rem;
    line-height: 0.75rem;
    color: #ccc; }
    .element-sidebar h3 .tip {
      font-weight: normal;
      font-size: 0.675rem;
      color: #aaa; }
  .element-sidebar label {
    min-width: 1rem;
    font-size: 0.625rem;
    text-align: center; }
  .element-sidebar__group {
    border-bottom: 1px solid #000;
    padding: 0.5rem; }

.geek-mode-switch {
  background: #000;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  color: #fff;
  border: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 3px;
  right: 8px;
  font-size: 12px !important;
  cursor: pointer;
  opacity: 0.60; }
  .geek-mode-switch:focus, .geek-mode-switch:hover {
    opacity: 1;
    outline: 0; }

.sidebar__grid {
  display: grid;
  grid-template-columns: 18px 51px 18px 51px 18px 51px;
  grid-template-rows: 20px;
  grid-column-gap: 5px;
  grid-row-gap: 0.5rem;
  justify-items: center;
  align-items: center; }
  .sidebar__grid .span-2 {
    grid-column-start: span 2; }
  .sidebar__grid .span-3 {
    grid-column-start: span 3; }
  .sidebar__grid .span-4 {
    grid-column-start: span 4; }
  .sidebar__grid .span-5 {
    grid-column-start: span 5; }
  .sidebar__grid .span-6 {
    grid-column-start: span 6; }
