.sidebar {
    font-size: 0.75rem;
    color: #aaa;
    position:relative;
    width:250px;
    background-color: rgba(255, 255, 255, 0.1);
    &__gap{
        height:4px;
        border-bottom: 1px solid #000;
    }
    &__tabs{
        background-color: rgba(0,0,0,0.5);
        display:flex;
    }
    &__tab{
        background-color: rgba(255,255,255,0.05);
        color:#aaa;
        border:none;
        display: flex;
        align-items: center;
        padding:2px 8px;
        &.active{
            background-color: rgba(255,255,255,0.12);
            color:#eee;
        }
    }
    &__sub{
        width: 100%;
        height:100%;
        overflow-y: auto;
    }
    &.geek-mode{
        .sidebar-easy{
            display:none;
        }
        .sidebar-geek{
            display:block;
        }
    }
    .sidebar-easy{
        display:block;
    }
    .sidebar-geek{
        display:none;
    }

    .material-icons{
        font-size: 0.875rem;
    }
    h3 {
        margin: 0;
        font-size: 0.75rem;
        line-height: 0.75rem;
        color: #ccc;
        display: flex;
        align-items: center;
        .tip{
            font-weight: normal;
            font-size:0.675rem;
            color:#aaa;
            margin-left:8px;
        }
        & + div{
            margin-top: 0.5rem;
        }
    }
    label {
        min-width: 1rem;
        font-size: 0.625rem;
        text-align: center;
    }
    &__group {
        border-bottom: 1px solid #000;
        padding: 0.5rem;
        .collapse{
            margin-left: 8px;
            cursor: pointer;
            background-color: rgba(0,0,0,0.5);
            width: 16px;
            height: 16px;
            border-radius: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .du{
            position: relative;
            opacity: 1;
            pointer-events: all;
        }
        .dd{
            position: absolute;
            opacity: 0;
            pointer-events: none;
        }
        &.collapsed{
            .filters{
                display: none;
            }
            .du{
                position: absolute;
                opacity: 0;
                pointer-events: none;
            }
            .dd{
                position: relative;
                opacity: 1;
                pointer-events: all;
            }
        }
    }
}
.geek-mode-switch{
    background:#000;
    width:18px;
    height:18px;
    border-radius:10px;
    color:#fff;
    border:none;
    padding:0;
    margin:0 0 0 8px;
    font-size:12px !important;
    cursor:pointer;
    opacity:0.60;
    display:flex;
    justify-content: center;
    align-items: center;
    &:focus,
    &:hover{
        opacity: 1;
        outline:0;
    }
}
.geek-mode .geek-mode-switch{
    opacity: 1;
    text-shadow: 0px 0px 3px rgba(255,255,255,1);
}
.sidebar__grid{
    display: grid;
    grid-template-columns: 18px 51px 18px 51px 18px 51px;
    grid-template-rows: 20px;
    grid-column-gap: 5px;
    grid-row-gap: 0.5rem;
    justify-items:center;
    align-items:center;
    .span-2{
        grid-column-start: span 2;
    }
    .span-3{
        grid-column-start: span 3;
    }
    .span-4{
        grid-column-start: span 4;
    }
    .span-5{
        grid-column-start: span 5;
    }
    .span-6{
        grid-column-start: span 6;
    }
}
