.leftbar {
  font-size: 0.75rem;
  color: #aaa;
  position: relative;
  width: 150px;
  background-color: rgba(255, 255, 255, 0.1);
  border-left: 1px solid #000;
  flex: 0 0 auto;
  padding: 0.25rem;
  box-sizing: border-box; }

.tree-element {
  padding: 0 0 0 10px;
  margin: 0; }

.tree-button {
  margin: 0.25rem 0;
  width: 100%;
  text-align: left; }

.drop-zone {
  height: 3px;
  background-color: black;
  display: block; }
