input{
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    &[type="text"],
    &[type="number"]{
        display: block;
        width: 100%;
        border: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding:0.25rem;
        border-radius: 2px;
        background-color: rgba(255,255,255,0.9);
        &:disabled{
            opacity:0.5;
        }
    }
}
