.wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #232323; }

.main {
  display: flex;
  flex-grow: 1; }

.toolbar {
  width: 32px;
  background-color: rgba(255, 255, 255, 0.1); }

.sidebar {
  width: 350px;
  background-color: #efefef;
  border-left: 2px solid #efefef; }
  .sidebar .ReactCodeMirror,
  .sidebar .CodeMirror,
  .sidebar .react-codemirror2 {
    width: 100%;
    height: 100%; }
