.wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #232323; }

.main {
  display: flex;
  flex-grow: 1; }

.sidebar {
  width: 250px;
  background-color: rgba(255, 255, 255, 0.1); }
  .sidebar .ReactCodeMirror,
  .sidebar .CodeMirror,
  .sidebar .react-codemirror2 {
    width: 100%;
    height: 100%; }
