.input-logger{
    flex-grow:1;
    overflow: auto;
    padding:20px;
    & > *{
        flex:0 0 auto;
        margin: auto;
    }
}
// .box .input-logger{
//     cursor: crosshair;
// }
// .zoom .input-logger{
//     cursor: zoom-in;
// }
