$gap: 6px;
//$calc: 3.75px;
$calc: $gap * 3/4;
.shadow-handler{
    display: grid;
    grid-template-columns: calc(25% - #{$calc}) calc(25% - #{$calc}) calc(25% - #{$calc}) calc(25% - #{$calc});
    grid-template-rows: 20px;
    grid-column-gap: $gap;
    box-sizing: border-box;
}
