@import "../../scss-imports/variables";

$itemsPadding:0.125rem 0.5rem;
.top-header{
    background-color: rgba(255,255,255,0.1);
    flex: 0 0 auto;
    font-size: 0.75rem;
    display:flex;
}
.menu{
    display:flex;
    &__sub{
        &.menu__sub--visible{
            .menu{
                &__label{
                    background-color: $bgColorToolbarsActive;
                }
                &__backdrop{
                    display: block;
                }
                &__dropdown{
                    opacity: 1;
                    pointer-events: all;
                }
            }
        }
    }
    &__label{
        padding: $itemsPadding;
        text-transform: capitalize;
        border:0;
        margin:0;
        background: none;
        font-size: 0.75rem;
        border-radius: 0;
        color:#aaa;
        &:hover{
            color:#fff;
        }
        &:focus{
            outline: 0;
        }
    }
    &__backdrop{
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 9;
        display: none;
        left:0;
    }
    &__dropdown{
        position: absolute;
        opacity:0;
        pointer-events: none;
        background-color:$bgColorWorkspace;
        box-shadow: $shadowRegular;
        z-index:10;
        &-item{
            display:block;
            background: none;
            border:0;
            text-align: left;
            font-size: 0.75rem;
            min-width: 12rem;
            padding:$itemsPadding;
            &:focus{
                outline: 0;
            }
        }
    }
}
