a.infoIcon {
    position: absolute;
    background-color: #999;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    padding: 2rem 2rem 0.25rem;
    transform: rotate(45deg);
    right: -31px;
    top: -16px;
}
.demo-card-wide.mdl-card {
  width: 100%;
  min-height:0;
  height: calc(100vh - 20px);
}

.todos-wrap .mdl-card__supporting-text{
	flex-grow: 1;
    overflow-y: auto;
	width: auto;
}

.todo.done .label{
    text-decoration: line-through;
}
