html, #root, body {
  height: 100%;
  overflow: hidden;
  margin: 0; }

body, button {
  font-family: 'Roboto', sans-serif; }

.sr-only {
  position: absolute;
  opacity: 0;
  pointer-events: none; }
