html,#root,body{
    height:100%;
    overflow: hidden;
    margin: 0;
}
body,button,input{
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-smooth: always;
}
.sr-only{
    position:absolute;
    opacity: 0;
    pointer-events: none;
}
